In [ ]:
sports = ("Soccer", "Basketball", "Baseball", "Tennis")
print(sports)
print(type(sports))
print(sports[1])

('Soccer', 'Basketball', 'Baseball', 'Tennis')
<class 'tuple'>
Basketball

In [3]:
sports[1] = "Cricket"  # This will raise an error because tuples are immutable
print(sports)

TypeError: 'tuple' object does not support item assignment

In [9]:
sports = ("Soccer",)
print(type(sports))  # This will show <class 'tuple'> because it's a tuple

<class 'tuple'>

In [10]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [15]:
myset = {"apple", "banana", "cherry"}
print(type(myset))
print(myset)
print(myset[1])
for x in myset:
    print(x)

<class 'set'>
{'apple', 'banana', 'cherry'}

TypeError: 'set' object is not subscriptable

In [18]:
for x in myset:
    print(x)
    print(x[1])
    print(x, "apple")

apple
p
apple apple
banana
a
banana apple
cherry
h
cherry apple

In [19]:
myset = {"apple","apple", "banana", "cherry"}
print(myset)

{'apple', 'banana', 'cherry'}

In [20]:
myset.add("orange")
print(myset)

{'apple', 'banana', 'orange', 'cherry'}

In [21]:
myset.update(["mango", "grape", "orange"])
print(myset)

{'banana', 'orange', 'cherry', 'mango', 'apple', 'grape'}

In [22]:
myset.remove("banana")
print(myset)

{'orange', 'cherry', 'mango', 'apple', 'grape'}

In [27]:
my_var = range(8)
print(my_var)
print(my_var[1])
print(my_var[2])
print(my_var[3])

range(0, 8)
1
2
3

In [4]:
item_1 = {
    "name": "John",
    "age": 30,
    "age": 30,

    "city": "New York"

}
print(item_1)
print(type(item_1))
print(item_1["age"])
item_1["city"] = "Los Angeles"
print(item_1)

{'name': 'John', 'age': 30, 'city': 'New York'}
<class 'dict'>
30
{'name': 'John', 'age': 30, 'city': 'Los Angeles'}

In [10]:
item_1 = {
    "name": "John",
    "age": 30,
    "age": 80,

    "city": "New York"

}
print(item_1)

{'name': 'John', 'age': 80, 'city': 'New York'}

In [19]:
this_dict ={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
# print(this_dict.get("year",2000))
# print(this_dict.get("color", "red"))
# this_dict["salary"] = 2020
# print(this_dict)
print(this_dict.pop("salary", "Not Found"))
print(this_dict.pop("model"))
print(this_dict)

Not Found
Mustang
{'brand': 'Ford', 'year': 1964}

In [ ]:
this_dict.update({"year": 2020, "color": "red"})
print(this_dict)
# multiple value update and add

{'brand': 'Ford', 'year': 2020, 'color': 'red'}

In [21]:
del this_dict["brand"]
print(this_dict)

{'year': 2020, 'color': 'red'}

In [22]:
this_dict.clear()
print(this_dict)

{}

In [25]:
product_ids = ["101","102","103","bana","104" "bana"]
has_duplicates =len(product_ids)!=len(set(product_ids))
print(has_duplicates)

False

In [28]:
x = 50000
y = 50000
print(x is y)

False

In [2]:
x=8
v=4
print(x/v)

2.0