In [1]:
def function_name(parameters):
    return value

In [2]:
def add_numbers(a, b):
    return a + b
print(add_numbers(8, 12))

20

In [ ]:
def greet(name, greeting):
    print(greeting, name)

greet("Alice", "Hello")

alice Alice

In [9]:
def greet(name, gereeting="hello"):
    return f"{gereeting}, {name}!"

print(greet("Bob"))
print(greet("Bob"))

hello, Bob!
hello, Bob!

In [11]:
def student(first_name, last_name):
    print(first_name, last_name)

student(first_name="Smith", last_name="John")
student(last_name="nashit", first_name="ahasna")

Smith John
ahasna nashit

In [12]:
def show_all(*args):
    for x in args:
        print(x)
show_all(1, 2, 3, 4, 5)

1
2
3
4
5

In [13]:
def show_details(**kwargs):
    for k, v in kwargs.items():
        print(k, "=", v)
show_details(name="Alice", age=30, city="New York")

name = Alice
age = 30
city = New York

In [14]:
abs(-20)

20

In [19]:
numbers= [1, 2, 3]
def square(x):
    return x * x

result = map (square, numbers)
print(list(result))

[1, 4, 9]

In [23]:
strings = ["apple", "banana", "cherry", "date", "elderberry"]
ints = list(map(int, strings))
print(ints)

ValueError: invalid literal for int() with base 10: 'apple'

In [22]:
strings = ["1","2","3","4","5"]
ints = list(map(int, strings))
print(ints)

[1, 2, 3, 4, 5]

In [24]:
numbers = [1, -2, 3, -4, 5]

evens = filter(lambda x: x % 2 == 0, numbers)
print(list(evens))

[-2, -4]

In [25]:
add = lambda x, y: x+y
print(add(5, 7))

12

In [27]:
print((lambda x, y: x + y)(3, 4))

7

In [28]:
max = lambda a,  b: a if a > b else b
print(max(1,2))

2

In [29]:
numbers = [1, -2, 3, -4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[-2, -4]

In [34]:
def func(a, b=10, c=20): 
  print(a, b, c)

In [35]:
number1 = int(input("enter a number:"))
number2 = int(input("enter another number:"))

def add(num1, num2):
    return num1 + num2

result = add(number1, number2)
print("The sum is:", result)

The sum is: 13

In [ ]:
number1 = 1
number2 = int(input("enter another number:"))

def squire_sum(num1, num2):
    result = 0
    for i in range(1, num2 + 1):
        result += i**2
    return result

print("The sum of squares is:", squire_sum(number1, number2))
#‡∂∏‡∑ô‡∂∏ program ‡∂ë‡∂ö ‡∂ö‡∂ª‡∂±‡∑ä‡∂±‡∑ö 1 ‡∑É‡∑í‡∂ß user enter ‡∂ö‡∂ª‡∂± number ‡∂ë‡∂ö ‡∂Ø‡∂ö‡∑ä‡∑Ä‡∑è, ‡∂ë‡∑Ñ‡∑ô‡∂∏ ‡∂ö‡∑í‡∂∫‡∂±‡∑ä‡∂±‡∑ö:

#1¬≤ + 2¬≤ + 3¬≤ + ... + n¬≤

#‡∂∏‡∑ö‡∂ö calculate ‡∂ö‡∂ª‡∂Ω‡∑è total ‡∂ë‡∂ö print ‡∂ö‡∑í‡∂ª‡∑ì‡∂∏‡∂∫‡∑í.

The sum of squares is: 55

In [ ]:
def add_corresponding_numbers(list1, list2):
   if len(list1) != len(list2):
       return "Error: Lists must be of the same length."
   else:
       result = []
       for i in range(len(list1)):
           result.append(list1[i] + list2[i])
       return result
   
   
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print("The sum of corresponding numbers is:", add_corresponding_numbers(list1, list2))

#‡∂∏‡∑ô‡∂∫ lists ‡∂Ø‡∑ô‡∂ö‡∂ö‡∑ô‡∑Ñ‡∑í ‡∂ë‡∂ö‡∂∏ index ‡∑Ä‡∂Ω value ‡∂ë‡∂ö‡∂≠‡∑î ‡∂ö‡∂ª‡∂Ω‡∑è new list ‡∂ë‡∂ö‡∂ö‡∑ä return ‡∂ö‡∂ª‡∂± function ‡∂ë‡∂ö‡∂ö‡∑ä

The sum of corresponding numbers is: [5, 7, 9]

In [ ]:
def add(a, b = 10):
    return a + b
print("The sum with default parameter is:", add(5))
print("The sum with default parameter is:", add(5, 15))

#‡∂∏‡∑ö‡∂ö default parameter (default argument) concept ‡∂ë‡∂ö demonstrate ‡∂ö‡∂ª‡∂± example ‡∂ë‡∂ö‡∂ö‡∑ä

The sum with default parameter is: 15
The sum with default parameter is: 20

In [44]:
#Function ‡∂ë‡∂ö: calculate_total(price, quantity = 1, discount = 0)

#‡∂∏‡∑ô‡∂∏ function ‡∂ë‡∂ö‡∑ö parameters:

#price ‚Üí ‡∂ë‡∂ö‡∂ö‡∂ß ‡∂á‡∂≠‡∑í ‡∑Ä‡∂ß‡∑í‡∂±‡∑è‡∂ö‡∂∏

#quantity (default = 1) ‚Üí ‡∂ú‡∂±‡∑ä‡∂± ‡∂¥‡∑ä‚Äç‡∂ª‡∂∏‡∑è‡∂´‡∂∫

#discount (default = 0) ‚Üí ‡∂Ö‡∂©‡∑î‡∂ö‡∑í‡∂ª‡∑ì‡∂∏ (rupees)

def calculate_total(price, quantity=1, discount=0):
    subtotal = price * quantity
    total = subtotal - discount

    if total != 0:
        discount_percentage = (discount / subtotal) * 100
    else:
        discount_percentage = 0
    return total, discount_percentage

total,discount_percentage = calculate_total(100, 1, 20)
print("total price is:", total)
print("discount percentage is:", discount_percentage, "%")

total price is: 80
discount percentage is: 20.0 %

In [45]:
def add(a, b):
    return a + b
print (add(a=3, b=5))
print (add(b=7, a=2))

8
9

In [50]:
def test_arbitary_arguments(*args):
  print("Positional arguments are:", args)
  for arg in args:
      print("Argument:", arg)
  print("Type of args is:", type(args))

test_arbitary_arguments(1, 'hello',3.9)

Positional arguments are: (1, 'hello', 3.9)
Argument: 1
Argument: hello
Argument: 3.9
Type of args is: <class 'tuple'>

In [51]:
def sum_numbers(*numbers):
    total = 0
    for number in numbers:
        total += number
    return total


print("the sum is", sum_numbers(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)  )

the sum is 55

In [ ]:
def average_positive(*numbers):
    total=  0
    count = 0
    for number in numbers:
        if number > 0:
            total += number
            count += 1
        else:
            print("Ignoring non-positive number:", number)
    avg = total / count
    print("The average of positive numbers is:", avg)
    return avg

average_positive(10, -5, 20, 0, 15, -3, 30)

#average_positive() ‡∂ö‡∑í‡∂∫‡∂± function ‡∂ë‡∂ö ‡∂ë‡∂∫‡∂ß pass ‡∂ö‡∂ª‡∂± numbers ‡∂ë‡∂ö‡∑ô‡∂±‡∑ä positive (0 ‡∂ß ‡∑Ä‡∑ê‡∂©‡∑í) numbers ‡∑Ä‡∑í‡∂≠‡∂ª ‡∑Ä‡∑ê‡∂Ω‡∑í‡∂ú‡∑ô‡∂± average ‡∂ë‡∂ö ‡∂ú‡∂´‡∂±‡∂∫ ‡∂ö‡∂ª‡∂±‡∑Ä‡∑è.

#Negative ‡∑É‡∑Ñ zero values ignore ‡∂ö‡∂ª‡∂±‡∑Ä‡∑è.

Ignoring non-positive number: -5
Ignoring non-positive number: 0
Ignoring non-positive number: -3
The average of positive numbers is: 18.75

18.75

In [ ]:
def arbitary_keyword_arguments(**kwargs):
    print("Keyword arguments are:", kwargs)
    print("Type of kwargs is:", type(kwargs))

arbitary_keyword_arguments(name="Alice", age=30, city="New York")

##**kwargs ‡∂ö‡∑í‡∂∫‡∂±‡∑ä‡∂±‡∑ö function ‡∂ë‡∂ö‡∂ß keyword arguments (key=value format)
#‡∂∏‡∑ú‡∂± ‡∂ú‡∂´‡∂±‡∂ö‡∑Ä‡∂≠‡∑ä pass ‡∂ö‡∂ª‡∂±‡∑ä‡∂± ‡∂Ø‡∑ô‡∂± mechanism ‡∂ë‡∂ö.
#‡∂∏‡∑ö ‡∑Ä‡∂ú‡∑ö arguments function ‡∂ë‡∂ö‡∂ß pass ‡∂ö‡∂ª‡∂±‡∂ö‡∑ú‡∂ß **kwargs ‡∂í‡∑Ä‡∑è dictionary ‡∂ë‡∂ö‡∂ö‡∑ä ‡∑Ä‡∑í‡∂Ø‡∑í‡∑Ñ‡∂ß receive ‡∂ö‡∂ª‡∂±‡∑Ä‡∑è.

Keyword arguments are: {'name': 'Alice', 'age': 30, 'city': 'New York'}
Type of kwargs is: <class 'dict'>

In [ ]:
def arbitary_keyword_arguments(**kwargs):

    for key in kwargs.keys():
        print(key)

    print("==================================================")

    for value in kwargs.values():
        print(value)

    print("==================================================")

    for key, value in kwargs.items():
        print(f"{key} = {value}")


arbitary_keyword_arguments(name="Alice", age=30, city="New York")

#‡∂∏‡∑ô‡∂≠‡∂± code ‡∂ë‡∂ö ‡∂ö‡∂ª‡∂±‡∑ä‡∂±‡∑ö **kwargs (keyword arguments) dictionary ‡∂ë‡∂ö loop ‡∂ö‡∂ª‡∂Ω‡∑è
#keys, values, ‡∑É‡∑Ñ key-value pairs ‡∑Ä‡∑ô‡∂± ‡∑Ä‡∑ô‡∂±‡∂∏ print ‡∂ö‡∑í‡∂ª‡∑ì‡∂∏

name
age
city
==================================================
Alice
30
New York
==================================================
name = Alice
age = 30
city = New York

In [65]:
def avarage_score(**score):
    if len(score) == 0:
        print("No subjects provided.")
        return  # exit the function to avoid division by zero

    total = 0
    count = 0

    for subject, marks in score.items():
        total += marks
        count += 1
        print(f"{subject}: {marks}")

    avg = total / count
    print("=====================================")
    print("Average score is:", avg)


avarage_score()  # No subjects
avarage_score(Math=80, English=75, Science=90)  # With subjects

No subjects provided.
Math: 80
English: 75
Science: 90
=====================================
Average score is: 81.66666666666667

In [66]:
number = int(input("enter a number:"))

def absolute_value(num):
    if num < 0:
        return -num
    else:
        return num
print("The absolute value is:", absolute_value(number))

The absolute value is: 85

In [67]:
number = int(input("enter a number:"))
print (abs(number))

7456

In [70]:
def find_squre(x):
    return x**2

list1 = [1, 2, 3, 4, 5]
squared_list = map(find_squre, list1)
print("The squared list is:", squared_list)
new_list = [x for x in squared_list]
print("The new list is:", new_list)
print (type(squared_list))

The squared list is: <map object at 0x00000248922E3AC0>
The new list is: [1, 4, 9, 16, 25]
<class 'map'>

In [ ]:
"""
Write a Python program to convert a list of temperatures given in Fahrenheit into Celsius using a function and the map() built-in function.

Your program should:

Define a function named convert_to_celsius()

The function must take a Fahrenheit temperature as an argument.

Convert it into Celsius using the formula:

ùê∂
=
(
ùêπ
‚àí
32
)
√ó
5
9
C=(F‚àí32)√ó
9
5
	‚Äã


Return the result rounded to 2 decimal places.

Create a list containing the following Fahrenheit temperatures:
32, 68, 100, 212

Use the map() function to apply the conversion function to the entire list.

Convert the result of map() into a list and print the Celsius values.
"""


def convert_to_celsius(fahrenheit_temp):
    result = (fahrenheit_temp - 32) * 5.0/9.0
    return round(result,2)

fahrenheit_temp = [32, 68, 100, 212]

celsius_temps = list(map(convert_to_celsius, fahrenheit_temp))
celsius_values= list(celsius_temps)
print("The Celsius values are:", celsius_values)

The Celsius values are: [0.0, 20.0, 37.78, 100.0]

In [72]:
def corresponding_sum(num1, num2):
    return num1 + num2
list1 = [1,2,3]
list2 = [4,5,6]

sum = map(corresponding_sum, list1, list2)

results = list(sum)
print("The sum of corresponding numbers is:", results)

The sum of corresponding numbers is: [5, 7, 9]

In [73]:
def is_even(num):
    return num % 2 == 0

number = [10,9,4,8,11]

even_numbers_iterator = filter(is_even, number)
even_numbers = list(even_numbers_iterator)
print("The even numbers are:", even_numbers)

The even numbers are: [10, 4, 8]

In [ ]:
#3 ‡∂±‡∑ä ‡∂∂‡∑ô‡∂Ø‡∑ô‡∂± ‡∂±‡∂∏‡∑ä‡∂∂‡∂ª‡∑ä , 5 ‡∂±‡∑ä ‡∂∂‡∑ô‡∂Ø‡∑ô‡∂±‡∑ä‡∂±‡∑ö ‡∂±‡∑ë

def divisible_nmber(num):
    return num % 3 == 0 and num % 5 != 0

numbers = [10, 15, 18, 20, 21, 25, 30, 33, 40]
divisible_numbers_iterator = filter(divisible_nmber, numbers)
divisible_numbers = list(divisible_numbers_iterator)
print("The numbers divisible by 3 but not by 5 are:", divisible_numbers)

The numbers divisible by 3 but not by 5 are: [18, 21, 33]

In [75]:
add = lambda x, y: x+y
results = add(5, 7)
print("The sum is:", results)

The sum is: 12

In [ ]:
result = (lambda x, y: x + y)(3, 4)
print("The sum is:", result)

"""
 Lambda Function (Anonymous Function)

Python ‡∂ë‡∂ö‡∑ö lambda function ‡∂ö‡∑í‡∂∫‡∂±‡∑ä‡∂±‡∑ö ‡∂±‡∂∏‡∂ö‡∑ä ‡∂±‡∑ú‡∂∏‡∑ê‡∂≠‡∑í, single-expression function ‡∂ë‡∂ö‡∂ö‡∑ä.
‡∂í‡∂ö def keyword ‡∂ë‡∂ö‡∑ô‡∂±‡∑ä function ‡∑Ñ‡∂Ø‡∂± ‡∂ë‡∂ö‡∂ß‡∂≠‡∑ä ‡∑Ä‡∂©‡∑è ‡∂ö‡∑î‡∂©‡∑è, quick operations ‡∑Ä‡∂Ω‡∂ß ‡∂∑‡∑è‡∑Ä‡∑í‡∂≠‡∑è ‡∑Ä‡∑ô‡∂±‡∑Ä‡∑è.
‡∂∏‡∑ô‡∑Ñ‡∑í x ‡∑É‡∑Ñ y parameters.

x + y return ‡∑Ä‡∑ô‡∂± expression ‡∂ë‡∂ö.

‡∂∏‡∑ö function ‡∂ë‡∂ö‡∂ß ‡∂±‡∂∏‡∑ä ‡∂±‡∑ê hence "anonymous function".

‡∂∏‡∑ô‡∑Ñ‡∑í function ‡∂ë‡∂ö:

Definition ‚Üí (lambda x, y: x + y)

Immediate call ‚Üí (3, 4)

‡∂í ‡∂ö‡∑í‡∂∫‡∂±‡∑ä‡∂±‡∑ö function ‡∂ë‡∂ö inline create ‡∂ö‡∂ª‡∂Ω‡∑è ‡∂ë‡∂ö‡∂∏ line ‡∂ë‡∂ö‡∑ö execute ‡∂ö‡∂ª‡∂± ‡∂ë‡∂ö.

"""

The sum is: 7

In [77]:
check_max_number = lambda a,  b: a if a > b else b

max_number = check_max_number(10, 20)
print("The maximum number is:", max_number)

The maximum number is: 20

In [78]:
square = lambda x: x**2

number = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, number))
print("The squared numbers are:", squared_numbers)

The squared numbers are: [1, 4, 9, 16, 25]

In [79]:
cheak_number = lambda x: x % 3 == 0 and x % 5 != 0
numbers = [10, 15, 18, 20, 21, 25, 30, 33, 40]
filtered_numbers = list(filter(cheak_number, numbers))
print("The numbers divisible by 3 but not by 5 are:", filtered_numbers)

The numbers divisible by 3 but not by 5 are: [18, 21, 33]